:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --red: #ff6e86;
  --green: #64ffda;
  --dark-green: #00c99a;
  --green-tint: rgba(25, 65, 56, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --font-xxs: 14px;
  --font-xs: 17px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-xxl: 22px;
  --font-heading: 32px;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  counter-reset: section;
  scroll-behavior: smooth;
}

a {
  color: var(--green);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

section {
  margin: 0 auto;
  padding: 150px 0;
  max-width: 1000px;
}

* {
  box-sizing: border-box;
}

#start {
  background: transparent;
  height: 1px;
}

.img__wrapper {
  transition: var(--transition);
  display: block;
  position: relative;
  background-color: var(--green);
}

.img__wrapper::before {
  content: "";
  display: block;
  background-color: var(--navy);
  mix-blend-mode: screen;
}

.img__wrapper > div {
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: var(--transition);
}

.img__wrapper:hover {
  background-color: transparent;
}

.img__wrapper:hover > div {
  filter: none;
  mix-blend-mode: normal;
}

.fade-nav-in,
.fade-aside-in {
  transition-property: all;
  transition-timing-function: var(--easing);
  transform: scale(0);
  opacity: 0;
}

.fade-nav-down,
.fade-hero-down {
  transition-property: all;
  transition-timing-function: var(--easing);
  opacity: 0;
  transform: translateY(-10px);
}

.fade-up {
  transform: translateX(-20px) translateY(20px);
  opacity: 0;
}

.glow {
  animation-name: glow;
  animation-duration: 3900ms;
  animation-iteration-count: infinite;
}

.number__header {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;
  font-size: clamp(26px, 5vw, var(--font-heading));
  color: var(--lightest-slate);
  line-height: 1.1;
}

.number__header::before {
  counter-increment: section 1;
  content: "0" counter(section) ".";
  position: relative;
  margin-right: 10px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: clamp(var(--font-md), 3vw, var(--font-xl));
  font-weight: 400;
}

.number__header::after {
  content: "";
  display: block;
  position: relative;
  top: 0px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--lightest-navy);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--dark-slate);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

@keyframes glow {
  50% {
    color: var(--lightest-slate);
  }
}
