.main {
  margin: 0 auto;
  padding: 0 150px;
  width: 100%;
  max-width: 1500px;
  min-width: 85vh;
}

@media only screen and (max-width: 1080px) {
  .main {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    padding: 0 25px;
  }
}
