.jobs {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s var(--easing);
}

.nav {
  display: flex;
  width: 100%;
}

.nav .activeTab {
  border-bottom: solid 2px #64ffda;
  color: #64ffda;
}

.nav button {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-slate);
  font-size: var(--font-md);
  font-weight: 600;
  border-bottom: solid 1px var(--dark-slate);
  transition: all 0.5s var(--easing);
  cursor: pointer;
  text-transform: capitalize;
}

.nav button:hover {
  background-color: var(--light-navy);
  color: var(--green);
}

.details {
  padding: 10px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
}

.details h3 {
  margin-bottom: 2px;
  font-size: var(--font-xxl);
  font-weight: 500;
  line-height: 1.3;
  color: var(--lightest-slate);
  color: transparent;
  text-shadow: 0 0 10px var(--lightest-slate);
  transition: all 1s var(--easing);
}

.details h3 a {
  color: var(--green);
  color: transparent;
  text-shadow: 0 0 10px var(--green);
  transition: all 1s var(--easing);
}

.details p {
  margin-bottom: 25px;
  font-family: var(--font-mono);
  font-size: var(--font-sm);
  color: transparent;
  text-shadow: 0 0 10px var(--light-slate);
  transition: all 1s var(--easing);
}

.details ul {
  list-style: none;
  font-size: var(--font-lg);
  color: transparent;
  text-shadow: 0 0 10px var(--light-slate);
  transition: all 1s var(--easing);
}

.details ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  line-height: 2;
}

.details ul li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: var(--green);
}

@media only screen and (max-width: 640px) {
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav button {
    border: solid 1px var(--dark-slate);
    font-size: var(--font-sm);
  }

  .nav .activeTab {
    border-bottom: solid 2px var(--green);
    background-color: var(--light-navy);
    color: var(--green);
  }

  .details ul {
    padding-left: 0;
  }

  .details h3 {
    font-size: var(--font-md);
  }

  .details p {
    font-size: var(--font-xxs);
  }

  .details ul {
    font-size: var(--font-xs);
  }
}
