.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 50px;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(10px);
  counter-reset: item;
  font-family: var(--font-mono);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 11;
  width: 100%;
  color: var(--lightest-slate);
  height: 60px;
  counter-reset: item;
  font-family: var(--font-mono);
}

.icons {
  display: none;
  color: var(--green);
}

.menu {
  display: none;
}

.logo svg {
  height: 45px;
  width: 45px;
}

.navbarCtn {
  display: flex;
  align-items: center;
}

.ol {
  list-style: none;
  display: flex;
}

.ol li {
  margin: 0 5px;
  font-size: var(--font-xs);
  counter-increment: item 1;
  transition: var(--transition);
}

.ol a {
  padding: 10px;
  color: var(--lightest-slate);
  cursor: pointer;
  transition: var(--transition);
}

.ol a:hover,
.ol a.active {
  color: var(--green);
}

.ol a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--green);
  font-size: var(--font-xxs);
  text-align: right;
}

.resume {
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.resume a:first-child {
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  margin-left: 15px;
  font-size: var(--font-xs);
  line-height: 1;
  font-family: var(--font-mono);
  transition: var(--transition);
}

.resume a:first-child:hover {
  background-color: var(--green-tint);
}

.resume a:last-child,
.navbar__sm > a:last-child {
  display: none;
}

.pdf {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .navbarCtn {
    display: none;
  }

  .icons {
    display: block;
  }

  .menu__btn,
  .cancel__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0;
    cursor: pointer;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }

  .icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
  }

  .menu__btn .icon__inner,
  .cancel__btn .icon__inner {
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 2px;
    border-radius: 5px;
    background-color: var(--green);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
  }

  .menu__btn .icon__inner::before,
  .cancel__btn .icon__inner::before {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--green);
    width: 120%;
    top: -10px;
    opacity: 1;
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  }

  .menu__btn .icon__inner::after,
  .cancel__btn .icon__inner::after {
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    height: 2px;
    border-radius: 5px;
    background-color: var(--green);
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  }

  .cancel__btn .icon__inner {
    transform: rotate(225deg);
  }

  .cancel__btn .icon__inner::before {
    width: 100%;
    top: 0;
    opacity: 0;
  }

  .cancel__btn .icon__inner::after {
    width: 100%;
    bottom: 0px;
    transform: rotate(-90deg);
  }

  .menu {
    display: block;
    position: fixed;
    width: 0;
    height: 100vh;
    margin-left: auto;
    top: -100%;
    border-bottom-left-radius: 100vh;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: var(--light-navy);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s var(--easing);
  }

  .navbar__sm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    text-align: center;
  }

  .ol__sm {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .ol__sm li {
    position: relative;
    margin: 0 auto 20px;
    counter-increment: item 1;
    font-size: clamp(var(--font-sm), 4vw, var(--font-lg));
  }

  .ol__sm li::before {
    content: "0" counter(item) ".";
    display: block;
    margin-bottom: 5px;
    color: var(--green);
    font-size: var(--font-sm);
  }

  .ol__sm a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    position: relative;
    width: 100%;
    padding: 3px 20px 20px;
  }

  .ol__sm a.active {
    color: var(--green);
  }

  .resume__sm__btn {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: 5px;
    font-size: var(--font-sm);
    font-family: var(--font-mono);
    cursor: pointer;
    padding: 18px 20px;
    margin: 10% auto 0px;
    width: max-content;
    min-width: 153px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 340px) {
  .header {
    padding: 0 10px;
  }
}

@media only screen and (max-height: 599px) {
  .menu {
    overflow: auto;
  }

  .navbar__sm {
    margin-top: 60px;
  }
}
