.paq {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(100px);
  opacity: 0;
  counter-reset: item;
  transition: all 1s var(--easing);
}

.ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.ol li {
  margin-top: -20px;
}

.ol > li > div > p {
  font-weight: 600;
  font-size: var(--font-xl);
  cursor: pointer;
  transition: var(--transition);
}

.ol > li > div > p:hover {
  color: var(--green);
}

.paq__num {
  color: var(--lightest-slate);
  font-size: var(--font-md);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: solid 1px var(--green);
  border-radius: 50%;
  position: absolute;
}

.ol p {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-left: 20px;
  color: var(--lightest-slate);
  height: 40px;
  max-width: 98%;
  line-height: 1.5;
  transition: var(--transition);
}

.ol > li > div > p {
  margin-bottom: 0;
}

.ol > li > p {
  border-left: solid 1px var(--green);
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.ol > li > p > span {
  display: flex;
  align-items: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition);
}

@media only screen and (max-width: 768px) {
  .ol li {
    margin-top: -13px;
  }

  .ol > li > div > p,
  .ol > li > p {
    font-size: var(--font-md);
  }
}

@media only screen and (max-width: 640px) {
  .paq__num {
    font-size: var(--font-xs);
  }

  .ol > li > div > p,
  .ol > li > p {
    font-size: var(--font-xs);
  }
}
